# 檔案名稱 .gitignore

BERT/NTCIR/ckpt/
BERT/NTCIR/dataset/model/context.json
BERT/NTCIR/script/__pycache__/

BERT/TREC/ckpt/
BERT/TREC/dataset/model/context.json
BERT/TREC/dataset/model/test.json
BERT/TREC/dataset/model/train.json
BERT/TREC/script/__pycache__/
BERT/TREC/data/corpus
BERT/TREC/data/train
BERT/TREC/data/dev
BERT/TREC/data/test
BERT/TREC/script/core*
.vscode/